<template>
    <div class="lb-vue-cal_calendar" ref="lb-vue-cal_calendar" tabindex="0" @keydown.esc="close">
        <input type="text" v-model="displayValue" ref="lb_input" :disabled="disabled" :class="inputClass" v-on:focus.stop="open" />
        <button class="clear" v-if="disabled !== true && isClearable && value !== null && value !== undefined" :disabled="disabled" v-on:click="clearPicker">X</button>
        <div v-if="showPicker" :class="{ 'simple_cal_cont': simple }" ref="lb-vue-cal_cont" :style="{ 'top':top, 'left':left, 'right': right,'height':height+'px'}">
            <div v-if="!simple" class="lb-vue-cal_overlay" v-on:click="close"></div>
            <div :class="{ 'simple_cal': simple }" ref="lb-vue-cal_calview">
                <div class="lb-vue-cal_calendar" v-if="show == 'date' && (gettype == 'datetime' || gettype == 'date')" >
                    <div class="lb-vue-cal_row calendar-head">
                        <div class="lb-vue-cal_arrow" v-on:click.stop="changeMonth(-1)"><svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                                <title>Group 11</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Artboard" transform="translate(-32.000000, -30.000000)">
                                        <g id="Group-12" transform="translate(24.000000, 24.000000)">
                                            <g id="Group-11">
                                                <g id="icons/ic_chevron_left">
                                                    <g id="ic_chevron_left">
                                                        <g id="Icon-24px">
                                                            <polygon id="Shape" fill-opacity="0.9" fill="#FFFFFF" points="15.41 7.41 14 6 8 12 14 18 15.41 16.59 10.83 12"></polygon>
                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="month">
                            <div v-on:click.stop="show = 'month'">{{month}}</div>
                            <div class="lb-vue-cal_arrow drop-down-arrow" v-on:click.stop="show = 'month'"><svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                                    <title>icons/ic_arrow_drop_down</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Artboard" transform="translate(-283.000000, -34.000000)">
                                            <g id="Group-Copy" transform="translate(231.000000, 24.000000)">
                                                <g id="Group-14" transform="translate(45.000000, 0.000000)">
                                                    <g id="icons/ic_arrow_drop_down">
                                                        <g id="ic_arrow_drop_down">
                                                            <g id="Icon-24px">
                                                                <polygon id="Shape" fill-opacity="0.9" fill="#FFFFFF" points="7 10 12 15 17 10"></polygon>
                                                                <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg></div>
                        </div>
                        <div class="year">
                            <div v-on:click.stop="show = 'year'">{{year}}</div>
                            <div class="lb-vue-cal_arrow drop-down-arrow" v-on:click.stop="show = 'year'"><svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                                    <title>icons/ic_arrow_drop_down</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Artboard" transform="translate(-283.000000, -34.000000)">
                                            <g id="Group-Copy" transform="translate(231.000000, 24.000000)">
                                                <g id="Group-14" transform="translate(45.000000, 0.000000)">
                                                    <g id="icons/ic_arrow_drop_down">
                                                        <g id="ic_arrow_drop_down">
                                                            <g id="Icon-24px">
                                                                <polygon id="Shape" fill-opacity="0.9" fill="#FFFFFF" points="7 10 12 15 17 10"></polygon>
                                                                <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg></div>
                        </div>
                        <div class="lb-vue-cal_arrow" v-on:click.stop="changeMonth(1)"><svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                                <title>icons/ic_chevron_right</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Artboard" transform="translate(-360.000000, -30.000000)">
                                        <g id="Group-13" transform="translate(352.000000, 24.000000)">
                                            <g id="icons/ic_chevron_right">
                                                <g id="ic_chevron_right">
                                                    <g id="Icon-24px">
                                                        <polygon id="Shape" fill-opacity="0.9" fill="#FFFFFF" points="10 6 8.59 7.41 13.17 12 8.59 16.59 10 18 16 12"></polygon>
                                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                    </div>
                    <div class="inner-content">
                        <div class="lb-vue-cal_row days-name">
                            <div v-for="(day, index) in weekDays" :key="index" class="calendar-days">{{day.text}}</div>
                        </div>
                        <div class="clear10">&nbsp;</div>
                        <div class="lb-vue-cal_row date-numbers" v-for="(row, index) in monthDays" :key="index">
                            <div class="single-day" v-for="(day, index) in row"  :class="day.class+' '+(!day.active ? 'disabled' : '')"  v-on:click.stop="changeDate(day)" :key="index">
                                <span>{{day.text}}</span>
                            </div>
                        </div>
                        <div class="lb-vue-cal_row button-row">
                            <button v-on:click.stop="setDate"
                            :disabled="!isActiveDay()">{{translate('Accept')}}</button>
                        </div>
                    </div>
                </div>
                <div class="lb-vue-cal_calendar change-month" v-if="show == 'month'">
                    <div class="lb-vue-cal_row calendar-head">{{translate('Select month')}}</div>
                    <div class="inner-content">
                        <div class="lb-vue-cal_row single-month" v-for="(month, i) in months" :key="i" :class="{'active': month.selected, 'disabled': !month.active }">
                            <div v-on:click.stop="changeDate(month); show = 'date';">{{month.text}}</div>
                        </div>
                    </div>
                </div>
                <div class="lb-vue-cal_calendar change-year" v-if="show == 'year'">
                    <div class="lb-vue-cal_row calendar-head">{{translate('Select year')}}</div>
                    <div class="inner-content">
                        <div class="lb-vue-cal_row single-year" v-for="(year, i) in years" :key="i" :ref="(year.selected) ? 'lb_dtp_selected' : false" :class="{'active': year.selected, 'disabled': !year.active }">
                            <div v-on:click.stop="changeDate(year); show = 'date';">{{year.text}}</div>
                        </div>
                    </div>
                </div>
                <div class="lb-vue-cal_calendar" v-if="gettype == 'time'">
                    <div class="lb-vue-cal_row calendar-head">{{translate('Select time')}}</div>
                    <div class="inner-content content-time">
                        <div class="hours">
                            <div v-for="(hour, i) in hours" :key="'h'+i">
                                <div
                                :ref="(hour.selected) ? 'lb_dtp_selected' : false"
                                v-on:click.stop="changeDate(hour)"
                                :class="{'active': hour.selected, 'disabled': !hour.active }">{{hour.text}}</div>
                            </div>
                        </div>
                        <div class="minutes">
                            <div v-for="(minute, i) in minutes" :key="'m'+i">
                                <div
                                :ref="(minute.selected) ? 'lb_dtp_selected' : false"
                                v-on:click.stop="changeDate(minute)"
                                :class="{'active': minute.selected, 'disabled': !minute.active }">{{minute.text}}</div>
                            </div>
                        </div>
                        <div class="seconds" v-if="showSeconds == null || showSeconds === true">
                            <div v-for="(second, i) in seconds" :key="'s'+i">
                                <div
                                :ref="(second.selected) ? 'lb_dtp_selected' : false"
                                v-on:click.stop="changeDate(second)"
                                :class="{'active': second.selected, 'disabled': !second.active }">{{second.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="lb-vue-cal_row button-row button-time">
                        <button v-on:click.stop="setDate">{{translate('Accept')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import moment from 'moment';

export default
{
    name: 'DateTimePicker',
    props: [
        'value',
        'inputClass',
        'translateMethod',
        'type',
        'format',
        'displayFormat',
        'minYear',
        'maxYear',
        'simple',
        'isUTC',
        'start',
        'end',
        'isClearable',
        'disabled',
        'showSeconds',
    ],
    data()
    {
        const me = this;
        return {
            gettype: '',
            show: '',
            calcDate: null,
            showPicker: false,
            minYearDef: 1900,
            maxYearDef: 2100,
            startCalDate: null,
            endCalDate: null,
            isStart: null,
            isEnd: null,
            top: '',
            left: '',
            right: '',
            height: '',
            weekDays: [
                {
                    key: '1',
                    text: me.translate('Mon'),
                },
                {
                    key: '2',
                    text: me.translate('Tue'),
                },
                {
                    key: '3',
                    text: me.translate('Wed'),
                },
                {
                    key: '4',
                    text: me.translate('Thu'),
                },
                {
                    key: '5',
                    text: me.translate('Fri'),
                },
                {
                    key: '6',
                    text: me.translate('Sat'),
                },
                {
                    key: '0',
                    text: me.translate('Sun'),
                }],
            monthDays: [],
        };
    },
    created()
    {
        const me = this;

        me.setValue();

        me.setStartEndValues();

        if (me.type === undefined)
        {
            me.gettype = 'datetime';
        }
        else
        {
            me.gettype = me.type;
        }

        if (me.minYear !== undefined)
        {
            me.minYearDef = parseInt(me.minYear, 10);
        }
        if (me.maxYear !== undefined)
        {
            me.maxYearDef = parseInt(me.maxYear, 10);
        }

        window.addEventListener('mousedown', me.windowEvt);
        window.addEventListener('scroll', me.scrollHandler);
        window.addEventListener('resize', me.reposition);
    },
    destroyed()
    {
        const me = this;

        window.removeEventListener('mousedown', me.windowEvt);
        window.removeEventListener('scroll', me.scrollHandler);
        window.removeEventListener('resize', me.reposition);
    },
    watch:
    {
        value()
        {
            const me = this;
            me.setValue();
            me.calculateCalendar();
        },
        calcDate:
        {
            handler()
            {
                const me = this;
                me.calculateCalendar();
            },
            deep: true,
        },
        gettype(val)
        {
            const me = this;

            if (val === 'time')
            {
                me.centerValues();
            }
        },
        show(val)
        {
            const me = this;

            if (val === 'year')
            {
                me.centerValues();
            }
        },
        showPicker(val)
        {
            const me = this;

            if (val)
            {
                me.show = 'date';
                if (me.type === undefined)
                {
                    me.gettype = 'datetime';
                }
                else
                {
                    me.gettype = me.type;
                }

                me.$nextTick(() =>
                {
                    me.scrollHandler();
                });
            }
        },
        start()
        {
            const me = this;
            me.setStartEndValues();
        },
        end()
        {
            const me = this;
            me.setStartEndValues();
        },
    },
    methods:
    {
        isActiveDay()
        {
            const me = this;
            for (const week of me.monthDays)
            {
                for (const day of week)
                {
                    if (day.active === true && day.date.format('YYYY-MM-DD') === me.calcDate.format('YYYY-MM-DD'))
                    {
                        return true;
                    }
                }
            }
            return false;
        },
        setStartEndValues()
        {
            const me = this;

            if (me.start !== undefined)
            {
                me.startCalDate = me.parseValue(me.start);
                me.isEnd = true;
            }

            if (me.end !== undefined)
            {
                me.endCalDate = me.parseValue(me.end);
                me.isStart = true;
            }

            me.calculateCalendar();
        },
        setValue()
        {
            const me = this;

            me.calcDate = me.parseValue(me.value);
        },
        parseValue(value)
        {
            const me = this;
            if (value == null || value === undefined)
            {
                return moment();
            }

            if (me.format)
            {
                if (me.isUTC)
                {
                    return moment.utc(value, me.format).local();
                }

                return moment(value, me.format);
            }

            if (me.isUTC)
            {
                return moment.utc(value).local();
            }

            const val = moment(value);

            if (!val.isValid())
            {
                return moment();
            }

            return moment();
        },
        windowEvt(evt)
        {
            const me = this;

            if (me.showPicker === true)
            {
                if (me.$refs.lb_input === evt.target)
                {
                    return;
                }
                
                const [clickedElement] = evt.composedPath();

                if (clickedElement
                && me.recursChildNodes(me.$refs['lb-vue-cal_calendar'].childNodes, clickedElement))
                {
                    return;
                }

                me.close();
            }
        },
        scrollHandler()
        {
            const me = this;
            let ticking = false;
            let offset = 0;
            if (!ticking)
            {
                window.requestAnimationFrame(() =>
                {
                    if (me.$refs['lb-vue-cal_cont'] !== undefined)
                    {
                        const calCont = me.$refs['lb-vue-cal_cont'];

                        const target = me.$refs.lb_input;

                        if (target.getBoundingClientRect().bottom + calCont.clientHeight > window.innerHeight)
                        {
                            offset = -calCont.clientHeight + -target.getBoundingClientRect().height;
                        }

                        const inputElementBottomPosition = me.$refs.lb_input.getBoundingClientRect().bottom;
                        me.top = `${inputElementBottomPosition + offset}px`;

                        ticking = false;
                    }
                });

                ticking = true;
            }
        },
        recursChildNodes(childNodes, target)
        {
            const me = this;
            for (const node of childNodes)
            {
                if (node === target)
                {
                    return true;
                }

                if (me.recursChildNodes(node.childNodes, target))
                {
                    return true;
                }
            }
            return false;
        },
        centerValues()
        {
            const me = this;
            me.$nextTick(() =>
            {
                if (me.$refs.lb_dtp_selected)
                {
                    for (const ref of me.$refs.lb_dtp_selected)
                    {
                        ref.scrollIntoView({ block: 'center' });
                    }
                }
            });
        },
        close()
        {
            const me = this;

            if (me.showPicker === true)
            {
                me.showPicker = false;
                if (!me.simple)
                {
                    me.$refs.lb_input.blur();
                }
            }
        },
        open()
        {
            const me = this;
            me.reposition();
            me.showPicker = true;
        },
        reposition()
        {
            const me = this;
            const simpleCalendarWidth = 400;
            const target = me.$refs.lb_input;

            if (target.getBoundingClientRect().left + simpleCalendarWidth > window.innerWidth)
            {
                me.right = '0px';
                me.left = '';
            }
            else
            {
                me.right = '';
                me.left = `${target.getBoundingClientRect().left}px`;
            }
        },
        changeMonth(by)
        {
            const me = this;
            me.calcDate = moment(me.calcDate.add(by, 'month'));
        },
        translate(val)
        {
            const me = this;

            if (me.translateMethod !== undefined)
            {
                return me.translateMethod(val);
            }
            return val;
        },
        setDate()
        {
            const me = this;

            if (me.gettype === 'datetime')
            {
                me.gettype = 'time';
            }
            else if (me.gettype === 'date' || me.gettype === 'time')
            {
                me.sendDate();
            }
        },
        getCalcDate()
        {
            const me = this;
            return me.calcDate;
        },
        sendDate(closePicker = true)
        {
            const me = this;
            if (me.format !== undefined)
            {
                if (me.isUTC)
                {
                    me.$emit('input', me.calcDate.utc().format(me.format));
                }
                else
                {
                    me.$emit('input', me.calcDate.format(me.format));
                }
            }
            else
            if (me.isUTC)
            {
                me.$emit('input', me.calcDate.utc());
            }
            else
            {
                me.$emit('input', me.calcDate);
            }
            if (closePicker)
            {
                me.showPicker = false;
            }
        },
        changeDate(instance)
        {
            const me = this;

            if (instance.active !== undefined && instance.active === false)
            {
                return;
            }

            me.calcDate = moment(instance.date);
        },
        clearPicker()
        {
            const me = this;
            me.$emit('input', null);
        },
        calculateCalendar()
        {
            const me = this;
            const setDate = me.calcDate;
            let date = moment();
            let i;

            let startDayMonth = moment(setDate).startOf('month').format('d') - 1;
            let endDayMonth = moment(setDate).endOf('month').format('d') - 1;

            if (startDayMonth === -1)
            {
                startDayMonth = 6;
            }
            if (endDayMonth === -1)
            {
                endDayMonth = 6;
            }

            const daysInMonth = moment(setDate).daysInMonth();
            const startDate = moment(setDate).startOf('month');
            const endDate = moment(setDate).endOf('month');

            const days = [];
            for (i = startDayMonth; i > 0; i -= 1)
            {
                date = moment(startDate).subtract(i, 'days');

                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }

                days.push(
                    {
                        date,
                        text: date.format('DD'),
                        active,
                        class: 'previous-month',
                    },
                );
            }

            for (i = 0; i < daysInMonth; i += 1)
            {
                date = moment(startDate).add(i, 'days');

                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }

                days.push(
                    {
                        date,
                        text: date.format('DD'),
                        active,
                        class: `current-month${(date.format('YYYY-MM-DD') === setDate.format('YYYY-MM-DD')) ? ' active' : ''}`,
                    },
                );
            }

            let x = 1;
            for (i = endDayMonth; i < 6; i += 1)
            {
                date = moment(endDate).add(x, 'days');

                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }

                days.push(
                    {
                        date,
                        text: date.format('DD'),
                        active,
                        class: 'next-month',
                    },
                );
                x += 1;
            }

            me.monthDays = [];

            let j; let temparray; const
                chunk = 7;
            for (i = 0, j = days.length; i < j; i += chunk)
            {
                temparray = days.slice(i, i + chunk);
                me.monthDays.push(temparray);
            }
        },
    },
    computed:
    {
        displayValue:
        {
            get()
            {
                const me = this;

                if (me.displayFormat !== undefined)
                {
                    if (me.value == null || me.value === undefined)
                    {
                        return me.value;
                    }
                    if (me.format)
                    {
                        if (me.isUTC)
                        {
                            return moment.utc(me.value, me.format).local().format(me.displayFormat);
                        }
                        return moment(me.value, me.format).format(me.displayFormat);
                    }
                    if (me.isUTC)
                    {
                        return moment.utc(me.value).local().format(me.displayFormat);
                    }
                    return moment(me.value).format(me.displayFormat);
                }
                return me.value;
            },
            set(newValue)
            {
                const me = this;

                if (moment(newValue, me.displayFormat, true).isValid())
                {
                    const sel = me.$refs.lb_input.selectionStart;
                    me.calcDate = moment(newValue, me.displayFormat);
                    me.sendDate(false);
                    me.$nextTick(() =>
                    {
                        me.$refs.lb_input.setSelectionRange(sel, sel);
                    });
                }
            },
        },
        month()
        {
            const me = this;
            return me.translate(me.calcDate.format('MMMM').toUpperCase());
        },
        months()
        {
            const me = this;
            const months = [];

            const currMonth = moment(me.calcDate).month();
            for (let i = 0; i < 12; i += 1)
            {
                const date = moment(me.calcDate).month(i);

                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }

                months.push({
                    text: me.translate(date.format('MMM').toUpperCase()),
                    date,
                    active,
                    selected: (currMonth === i),
                });
            }

            return months;
        },
        years()
        {
            const me = this;
            const years = [];

            const currYear = moment(me.calcDate).year();
            for (let i = me.minYearDef; i < me.maxYearDef; i += 1)
            {
                const date = moment(me.calcDate).year(i);

                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }

                years.push({
                    text: date.format('YYYY'),
                    date,
                    active,
                    selected: (currYear === i),
                });
            }

            return years;
        },
        year()
        {
            const me = this;
            return me.calcDate.format('YYYY');
        },
        hours()
        {
            const me = this;
            const hours = [];
            const currHour = moment(me.calcDate).hour();

            for (let i = 0; i < 24; i += 1)
            {
                const date = moment(me.calcDate).hour(i);
                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }

                // check if hours is already in array (indicates daylight saving)
                if (hours.slice(-1)[0] && hours.slice(-1)[0].text === date.format('HH'))
                {
                    hours.splice(-1);
                }

                hours.push({
                    text: date.format('HH'),
                    date,
                    active,
                    selected: (currHour === i),
                });
            }
            return hours;
        },
        minutes()
        {
            const me = this;
            const minutes = [];

            const currMin = moment(me.calcDate).minute();
            for (let i = 0; i < 60; i += 1)
            {
                const date = moment(me.calcDate).minute(i);

                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }
                minutes.push({
                    text: date.format('mm'),
                    date,
                    active,
                    selected: (currMin === i),
                });
            }

            return minutes;
        },
        seconds()
        {
            const me = this;
            const seconds = [];

            const currSec = moment(me.calcDate).second();
            for (let i = 0; i < 60; i += 1)
            {
                const date = moment(me.calcDate).second(i);
                let active = true;
                if (me.isStart && me.endCalDate < date)
                {
                    active = false;
                }

                if (me.isEnd && me.startCalDate > date)
                {
                    active = false;
                }
                seconds.push({
                    text: date.format('ss'),
                    date,
                    active,
                    selected: (currSec === i),
                });
            }

            return seconds;
        },
    },
};
</script>

<style lang="scss" scoped>

$primary-color:     #004C65;
$secondary-color:   #F7DB6C;
$white-color:       rgba(255, 255, 255, 0.90);

// max width media query
@mixin maxWidthBreakpoint($breakpoint) {
    @media only screen and (max-width:($breakpoint/16)+em) {
        @content
    };
}

// max height media query
@mixin maxHeightBreakpoint($breakpoint) {
    @media only screen and (max-height:($breakpoint/16)+em) {
        @content
    };
}

// min width media query
@mixin minWidthBreakpoint($breakpoint) {
    @media only screen and (min-width:($breakpoint/16)+em) {
        @content
    };
}

// min and max media query
@mixin minmaxWidthBreakpoint($minBreakpoint, $maxBreakpoint) {
    @media only screen and (min-width:($minBreakpoint/16)+em) and (max-width:($maxBreakpoint/16)+em) {
        @content
    };
}

.lb-vue-cal_calendar {
    all: initial;
    font-family: 'Roboto', sans-serif;
    position: relative;

    .lb-vue-cal_overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 10000;
        background-color: rgba($color: #000000, $alpha: 0.5)
    }
    .simple_cal_cont {
        position: fixed;
        z-index: 2;
    }
    .simple_cal {

        display: inline-block;
        background-color: #ffffff;

        .lb-vue-cal_calendar
        {
            position: relative;
            top: calc(100% + 5px);
            left: 0px;
            margin: 0px;
            width: 400px;
            display: block;
        }
    }
    .clear {
        position:absolute;
        right:0;
        top:0;
        width:20px;
        border:none;
        outline:none;
        background-color:#ffffff;
        margin-right:2px;
        cursor: pointer;
    }

    .lb-vue-cal_calendar {
        position: fixed;
        width: 400px;
        //height: 500px;
        top: calc((100% - 520px) / 2);
        left: 50%;
        z-index: 10001;
        margin-left: -250px;
        background-color: #ffffff;

        @include maxWidthBreakpoint(600) {
            left: 15%;
            margin-left: 0;
        }

        @include maxWidthBreakpoint(500) {
            left: 10%;
        }

        @include maxWidthBreakpoint(460) {
            left: 6%;
        }

        @include maxWidthBreakpoint(400) {
            left: 2.5%;
            width: 95%;
            margin: auto;
            display: block;
            text-align: center;
            align-items: center;
        }

        .lb-vue-cal_row {
            display: flex;

            .lb-vue-cal_arrow {
                cursor: pointer;
            }

            .active {
                background-color: $primary-color;
                color: $white-color;
                border-radius: 6px;
            }

        }
    }

    & .calendar-head {
        background-color: $primary-color;
        height: 3rem;
        color: $white-color;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        & .month {

            cursor: pointer;

            & div {
                float: left;
            }
        }

        & .drop-down-arrow {
            margin-left: .5rem;

            & img {
                margin-bottom: .1rem;
            }
        }

        & .year {

            cursor: pointer;

            & div {
                float: left;
            }
        }
    }

    & .inner-content {
        padding: 0 1rem;
        color: $primary-color;

        & .days-name {
            justify-content: space-evenly;
            padding: 1.5rem 0;
            font-weight: 400;
            border-bottom: 1px solid rgba(185, 185, 185, 0.25);

            & .calendar-days {
                width: 14.28571%;
                display: inline-block;
                text-align: center;
            }
        }

        & .date-numbers {
            font-weight: 600;

            & .single-day {
                display: inline-block;
                width: 14.28571%;
                line-height: 3rem;
                text-align: center;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 300;
                margin: .2rem 0;

                &.disabled {
                    opacity: .3;
                }

                &:hover {
                    background-color: $primary-color;
                    color: $white-color;
                    transition: .3s;
                    border-radius: 6px;
                }
            }

            & .previous-month {
                opacity: .3;
                font-weight: 300;
            }

            & .next-month {
                opacity: .3;
                font-weight: 300;
            }
        }
    }

    & .button-row {
        display: block !important;

        & button {
            float: right;
            padding: .5rem 2rem;
            border-radius: 4px;
            background-color: $secondary-color;
            border: 0;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 600;
            font-size: .8rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            cursor: pointer;

            &:hover {
                background-color: #f5de82;
                transition: .3s;
            }
            &:disabled {
                pointer-events: none;
                opacity: .65;
            }
        }
    }

    & .change-month {

        & .calendar-head {
            margin-bottom: 1rem;
        }

        & .single-month {
            display: block;
            width: 48%;
            float: left;
            text-align: center;
            border: 1px solid rgba(185, 185, 185, 0.25);
            margin-right: 1%;
            padding: 1rem 0;
            margin-bottom: .5rem;
            border-radius: 6px;
            color: $primary-color;
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 300;
            font-size: 1.5rem;

            &.disabled {
                opacity: .3;
            }

            &:hover,&.active {
                background-color: $primary-color;
                color: $white-color;
                transition: .3s;
            }
        }
    }

    & .change-year {
        height: 500px;
        & .inner-content {
            overflow-y: auto;
            height: 85%;
            margin-top: 1rem;
        }

        & .single-year {
            display: block;
            //width: 48%;
            //float: left;
            text-align: center;
            //border: 1px solid rgba(185, 185, 185, 0.25);
            margin-right: 1%;
            padding: 1rem 0;
            margin-bottom: .5rem;
            border-radius: 6px;
            color: $primary-color;
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 300;
            font-size: 1.5rem;

            &.disabled {
                opacity: .3;
            }

            &:hover {
                font-weight: 600;
                transition: .1s;
                font-size: 1.7rem;
            }

            &.active {
                background-color: $primary-color;
                color: $white-color;
            }
        }
    }

    & .content-time {
        display: flex;
        justify-content: space-evenly;
        height: 75%;
        margin-top: 1rem;
        height: 350px;

        & .hours, & .minutes, & .seconds {
            overflow-y: auto;
            width: 5rem;
            text-align: center;
            cursor: pointer;

            & div {
                padding: .5rem 0;
                font-weight: 300;
                font-size: 1.5rem;
                margin-right: .5rem;

                & .active {
                    background-color: $primary-color;
                    border-radius: 6px;
                    color: $white-color;
                }

                &:hover {
                    font-weight: 600;
                    transition: .1s;
                    font-size: 1.7rem;
                }
            }
        }
    }

    & .button-time {
        margin-right: 1rem;
    }
}

.clear10 {
    display: block;
    height: 10px;
}

::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
    transition: .3s;
  }

</style>
