<template>
    <div id="app">
        <div>
            <p style="color:white"> Start date in UTC: {{ dateStart }}</p>
            <p style="color:white"> End date in UTC: {{ dateEnd }}</p>
            <datetimepicker v-model="dateStart" :isClearable="true" :end="dateEnd" display-format="YYYY-MM-DD HH:mm:ss" :simple="true" :isUTC="true" format="YYYY-MM-DD HH:mm:ss" ></datetimepicker>
            <datetimepicker v-model="dateEnd" :isClearable="true" :start="dateStart" display-format="YYYY-MM-DD HH:mm:ss" :simple="true" :isUTC="true" format="YYYY-MM-DD HH:mm:ss" ></datetimepicker>
        </div>
    </div>
</template>

<style lang="scss">

body {
    background: #000;
    height: 100%;
}

</style>

<script>

import moment from 'moment';

export default {
    name: 'app',
    data()
    {
        return {
            dateStart: moment().format('YYYY-MM-DD HH:mm:ss'),
            dateEnd: moment().format('YYYY-MM-DD HH:mm:ss'),
            // dateEnd: moment().add(1, 'day').format('YYYY-MM-DD HH:mm:ss'),
        };
    },
};
</script>
